@model HistoryMvc.Models.Planet

@{    
    ViewBag.Title = Model.Name + "Details";
}

<h2>@Model.Name Details</h2>


<div class="row">
    <span class="span6">
        <span class="label label-info">@DateTime.Now.ToString()</span>
        @if (Request.IsAjaxRequest())
        {
            <span class="label label-success">Is Ajax</span>
        }
        else
        {
            <span class="label label-warning">Non-Ajax</span>
        }
    </span>
</div>

<div class="row">
    <div class="span4">
        <div class="pic thumbnail img-polaroid"><i class="icon icon-globe"></i></div>
    </div>
    <div class="span8">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th>Position</th>
                <th>Mass (AU)</th>
                <th>Moons</th>
            </tr>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.MassAU</td>
                <td>@Model.Moons</td>
            </tr>
        </table>
    </div>
</div>