@{
    var isAjax = Request.IsAjaxRequest();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/style/site")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("page_css", required: false)
</head>
<body>
    <span class="label">_Layout</span>
    <section id="layout">
        <nav>
            <ul class="nav nav-tabs">
                <li>@Html.ActionLink("Home", "Index", "Home", new {}, new { @class="no-ajaxy", @title="Home/Index" })</li>
                <li>@Html.ActionLink("Planets", "Index", "Planet", new {}, new { @class="", @title="Planet/Index" })</li>
            </ul>
        </nav>

        <header>
            <span class="label label-info">@DateTime.Now.ToString()</span>
            @if (Request.IsAjaxRequest())
            {
                <span class="label label-success">Ajax</span>
            }
            else
            {
                <span class="label label-warning">Non-Ajax</span>
            }
        </header>
        
        <span class="label">section_body</span>
        <section id="section-body">
            @RenderBody()
        </section>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/libs")
        @Scripts.Render("~/bundles/js")
        @RenderSection("scripts", required: false)
        @RenderSection("page_scripts", required: false)
    </section>
</body>
</html>
